.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
  
.form-container .field-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}
  
.form-container .field-container > div {
    flex: 1;
    min-width: calc(50% - 15px);
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container input:focus,
.form-container select:focus {
    border-color: #007bff;
    outline: none;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
  
.form-container button:hover {
    background-color: #0056b3;
}

.success-message {
    text-align: center;
    font-size: 18px;
    color: #28a745;
    margin-top: 20px;
}
  
.PhoneInput {
    width: 100%;
}
  
button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}
  
.button-container {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}